*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --font-main: 'Poppins', sans-serif;
    --font-logo: 'Silkscreen', cursive;

    --bgc-body: whitesmoke;
    --bgc-nav:;
    --bgc-foot: #100E1D;
    --bgc-nav : #;
    --bgc-toggle: #;
    
    --bgc-hl-blue: #2D9CDB;

    --bdr-img: 1em;
    --bdr-sub-btn: .5em;
    --box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    --elem-opacity: 70%;
}

body{
    background-color: var(--bgc-body);
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    border-radius: var(--bdr-img);
}


.container-1{
    width: 90%;
    margin: 0 auto;
}

.row-2{
    display: flex;
    align-items: center;
}

ul, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* text-align: center; */
    color: white;
}

span{
    font-size: .8rem;
    font-weight: 500;
    color: var(--bgc-hl-blue);
}

.subscribe input{
    padding: 1em 3em;
    border-radius: var(--bdr-sub-btn);
    border: none;
    background-color: #f2f2f2;
    font-family: var(--font-main);
    font-weight: 500;
}


input::placeholder{
    position: relative;
    left: -1.5em;
    opacity: var(--elem-opacity);
}

.subscribe button{
   position: relative;
   right: 4.5em;
   padding: .5em 1em;
   border: none;
   border-radius: var(--bdr-sub-btn);
   background: var(--bgc-hl-blue);
   color: white;
}

button{
    padding: .5em 1em;
   border: none;
   border-radius: var(--bdr-sub-btn);
   background: var(--bgc-hl-blue);
   color: white;
}

/* ----------------- Navigation -------------------------- */
nav{
  
}

.logo{
    font-size: 2rem;
    padding: .5em 0;
    font-family: var(--font-logo);
}

.toggle-btn{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.5em;
    right: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toggle-bar{
    height: 2.5px;
    width: 100%;
    background-color: black;
}

.nav-area{
    padding: .5em;
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.nav-area.active{
    display: flex;
    justify-content: center;
   
}

.nav-area ul{
    width: 100%;
    color: white;
    padding: .2em 0;
}

.nav-item{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: .4em 0;
    margin: .4em 0;
    background-color: rgb(25, 23, 23);
    border-radius: 5px;
    transition: all .4s;
}
.nav-item:hover,
.nav-item:focus{
    background-color: rgb(72, 71, 71);
}

/* ------------------------------------------------ */
.container-2{
    width: 90%;
    margin: 0 auto;
}

.hero-text{
    margin: 2em 0;
}


.card{
    margin: 1em 0;
    padding: 2em;
    
    /* border: 1px solid yellow; */
    border-radius: 24px;
}
.card:hover,
.card:focus{
    box-shadow: var(--box-shadow);
}

.my-team{
    align-items: center;
    gap: 10px;
}
.my-team div:last-child{
   width: 90%;
}

.section-5{
    margin: 2em 0;
}

.about-me img{
     width: 80px;
     height: 80px;
     margin: 0 2em 0 0;
}

footer{
    color: white;
    background-color: var(--bgc-foot);
    padding: 0 0 3em 0;
}

footer img{
    width: 1.5rem;
    height: 1.5rem;
    margin: .2em;
}

footer div div{
    padding: 2em 0;
}

@media(min-width: 725px){
   
    .row-1{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

/* -----------------navigation---------------------- */
   
    .nav-area{
        flex-grow: .5;
        display: flex;
        background-color: var(--bgc-body);
        box-shadow: none;
        transition: all .4s;
   } 
    .nav-area:hover{   
        color: white;
        box-shadow: var(--box-shadow);
   } 
   
   .nav-area ul{
        display: flex;    
   } 

   .nav-item{
        /* padding: .4em .1em; */
        margin: 0 .3em ;
        background-color: var(--bgc-body);
   }
 

   .nav-item a{
        color: black;
        transition: all 0s;
   }

   .nav-item a:hover{
        color: white;
    }

   .toggle-btn{
        display: none;
   }

/* ---------------containers-------------------- */
    .container-1{
        max-width: 1200px;
    }

    .container-2{
        width: 60%;
        margin: 2em auto;
    }
    .hero-content{
        margin-bottom: 4em;
    }
    .container-3{
        width: 90%;
        margin: 0 auto;
    }
/* -----------------sections-------------------- */
    .section-3 .project-card{
        margin-top: 8em;
    }
    .section-3 .project-card div:last-of-type{
        position: relative;
        bottom: 8em;
    }

    .section-3 p{
        position: absolute;
       bottom: -6em;
       right: 2em;
        color: var(--bgc-hl-blue);
    }
    
    .section-4 div{
        align-self: center;
        margin: 2em 0;
        width: 100%;
    }
    .section-4 span{
        color: red;
    }

    .section-5{
        width: 80%;
        margin-bottom: 7em;
    }
    .section-5 h2{
        font-weight: 500;
    }
    
    footer .connect img{
        border-radius: 0;
    }
}